
<!--<footer class="text-black-50 mt-xl-5 bg-light" style="border-top: 1px solid black;" xmlns:th="http://www.thymeleaf.org">-->
<!--    <div class="container">-->
<!--        <h2>Culture Canvas</h2>-->
<!-- <div class="row">
     <div class="col-md-3 col-lg-4 col-xl-3">
         <h5>About</h5>
         <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
         <p class="mb-0">
             Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
             impression.
         </p>
     </div>

     <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
         <h5>Informations</h5>
         <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
         <ul class="list-unstyled">
             <li><a href="">Link 1</a></li>
             <li><a href="">Link 2</a></li>
             <li><a href="">Link 3</a></li>
             <li><a href="">Link 4</a></li>
         </ul>
     </div>

     <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
         <h5>Others links</h5>
         <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
         <ul class="list-unstyled">
             <li><a href="">Link 1</a></li>
             <li><a href="">Link 2</a></li>
             <li><a href="">Link 3</a></li>
         </ul>
     </div>

     <div class="col-md-4 col-lg-3 col-xl-3">
         <h5>Contact</h5>
         <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
         <ul class="list-unstyled">
             <li><i class="fa fa-home mr-2"></i>Culture Canvas</li>
             <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
             <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
         </ul>
     </div>
 </div>-->






<!--        <ul>-->
<!--            <li><a href="#">Home</a></li>-->
<!--            <li><a href="#">About</a></li>-->
<!--            <li><a href="#">Contact</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</footer>-->
<!--<style>-->
<!--    footer {-->
<!--        position: fixed;-->
<!--        bottom: 0;-->
<!--        width: 100%;-->
<!--        color: #000;-->
<!--        background-color: #f8f9fa;-->
<!--        border-top: 1px solid #000;-->
<!--        padding: 10px;-->
<!--        text-align: center;-->
<!--        z-index: 3;-->
<!--        transition: transform 0.3s ease;-->
<!--    }-->

<!--    footer.hidden {-->
<!--        transform: translateY(100%);-->
<!--    }-->

<!--    footer h2 {-->
<!--        font-size: 10px;-->
<!--        margin-bottom: 20px;-->
<!--    }-->

<!--    footer ul {-->
<!--        list-style: none;-->
<!--        padding: 0;-->
<!--        margin: 0;-->
<!--    }-->

<!--    footer ul li {-->
<!--        margin-bottom: 10px;-->
<!--        display: inline-block;-->
<!--        margin-right:20px ;-->
<!--    }-->

<!--    footer a {-->
<!--        color: #000;-->
<!--        text-decoration: none;-->
<!--    }-->

<!--    footer a:hover {-->
<!--        text-decoration: underline;-->
<!--    }-->

<!--</style>-->
<!--<script>-->
<!--    let lastScrollTop = 0;-->

<!--    window.addEventListener("scroll", function() {-->
<!--        let st = window.pageYOffset || document.documentElement.scrollTop;-->

<!--        if (st > lastScrollTop){-->
<!--            // Scrolling down-->
<!--            document.querySelector("footer").classList.add("hidden");-->
<!--        } else {-->
<!--            // Scrolling up-->
<!--            document.querySelector("footer").classList.remove("hidden");-->
<!--        }-->

<!--        lastScrollTop = st <= 0 ? 0 : st;-->
<!--    });-->
<!--</script>-->
<!-- Footer -->
<footer
        class="text-center text-lg-start text-white"
        style="background-color: #929fba"
>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        Culture Canvas MK
                    </h6>
                    <p>
                            <img src="https://png.pngtree.com/png-vector/20221001/ourmid/pngtree-vector-realistic-illustration-of-north-macedonia-flags-png-image_6249992.png" style="margin-left: 5px; height: 127px;" alt="Your Image Macedonia">
<!--                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Animated-Flag-North-Macedonia.gif" style="margin-left: 5px; height: 100px; width: 140px;" alt="Your GIF">-->
<!--                        <img src="" th:src="@{../images/img.png}" alt="slika-contact">-->
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Pages</h6>

                    <p>
                        <a href="/monuments" class="text-white">Destinations</a>
                    </p>
                    <p>
                        <a href="/monuments/map" class="text-white">Map</a>
                    </p>
                    <p>
                        <a href="/contact" class="text-white">Contact</a>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <p><i class="fas fa-home mr-3"></i> Ul. Partizanska br.35</p>
                    <p><i class="fas fa-envelope mr-3"></i> contact@culturecanvas.com</p>
                    <p><i class="fas fa-phone mr-3"></i> +389 78 288 683</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                    <!-- Facebook -->
                    <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #3b5998"
                            href="#!"
                            role="button"
                    ><i class="fab fa-facebook-f"></i
                    ></a>

                    <!-- Twitter -->
<!--                    <a-->
<!--                            class="btn btn-primary btn-floating m-1"-->
<!--                            style="background-color: #55acee"-->
<!--                            href="#!"-->
<!--                            role="button"-->
<!--                    ><i class="fab fa-twitter"></i-->
<!--                    ></a>-->

                    <!-- Google -->
                    <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #dd4b39"
                            href="#!"
                            role="button"
                    ><i class="fab fa-google"></i
                    ></a>

                    <!-- Instagram -->
                    <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #ac2bac"
                            href="#!"
                            role="button"
                    ><i class="fab fa-instagram"></i
                    ></a>

                    <!-- Linkedin -->
                    <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #0082ca"
                            href="#!"
                            role="button"
                    ><i class="fab fa-linkedin-in"></i
                    ></a>
                    <!-- Github -->
                    <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #333333"
                            href="https://github.com/VlahovskiAndrej/DIANS/tree/main"
                            role="button"
                    ><i class="fab fa-github"></i
                    ></a>
                </div>
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
    >
        © 2023 Copyright:
        <a class="text-white" href="/monuments"> CultureCanvas.com </a>
    </div>
    <!-- Copyright -->
</footer>
<!--    </div>-->
<!-- Footer -->