#box {
    border: 1px solid black;
    padding: 7px;
    border-radius: 7px;
    margin-left: -40px;

}

#searchMonuments {
    /*margin: 5px;*/
    padding: 5px 15px;
    border-radius: 12px;
    border: 1px solid black;
    width: 80%;
}

#citySelect {
    /*margin: 5px;*/
    padding: 5px;
    border-radius: 12px;
    border: 1px solid black;
    width: 19.5%;
}

#submit-btn {
    width: 100%;
    border-radius: 12px;
    /*border: 1px solid black;*/
    margin: 7px 0 20px;
    /*background: lightblue;*/
}

#button-div{
    display: flex;
}

#button-div input{
    margin: 0 3px;
}

#rating-div
{

    text-align: center;
    margin-left: auto;
    font-family: sans-serif ;
    font-weight: bolder;
}