body {
    margin: 0px;
    padding: 0;
    /*background: lightgray;*/
}

#box {
    border: 1px solid black;
    padding: 7px;
    border-radius: 7px;
    /*margin-left: -40px;*/
}

#searchMonuments {
    /*margin: 5px;*/
    padding: 5px 15px;
    border-radius: 12px;
    border: 1px solid black;
    width: 80%;
}

#citySelect {
    /*margin: 5px;*/
    padding: 5px;
    border-radius: 12px;
    border: 1px solid black;
    width: 19.5%;
}

#submit-btn {
    margin: 7px 0;
    width: 100%;
    border-radius: 12px;
    border: 1px solid black;
    margin-bottom: 20px;
    background: lightblue;
}

#submit-btn:hover {
    background: lightskyblue;
}

#box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1, h3, h4, h5 {
    color: #6278a6;
}