<header xmlns:th="http://www.thymeleaf.org">
    <style>
        .container {
            width: 100%;
            max-width: 100%;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid black; width: 100%;">
        <div class="container">
            <a class="navbar-brand" href="/">Culture Canvas MK</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/home" onmouseover="this.style.color='#833549';"
                           onmouseout="this.style.color='#000';">Home</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/about" onmouseover="this.style.color='#833549';"
                           onmouseout="this.style.color='#000';">About</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/monuments" onmouseover="this.style.color='#833549';"
                           onmouseout="this.style.color='#000';">Destinations</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/monuments/map" onmouseover="this.style.color='#833549';"
                           onmouseout="this.style.color='#000';">Map</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/contact" onmouseover="this.style.color='#833549';"
                           onmouseout="this.style.color='#000';">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
