

<head>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/home.css}" />
</head>
<div class="container jumbotron">
    <div class="row">
        <div class="col-md-6">
            <img src="https://www.goway.com/media/uploads/europe/macedonia/church_of_st_john_ohrid_macedonia_1069118279.jpg"
                 class="img-fluid" alt="Culture Canvas MK">
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h2>Welcome!</h2>
                <h5 class="mb-4">Culture Canvas MK</h5>
                <p class="lead">Welcome to the official Culture Canvas MK home page</p>
            </div>
        </div>
    </div>
</div>
