


    <form th:method="POST" th:action="@{/login}">
        <div id="login-form">

            <h1>Login</h1>

            <div class="mb-3">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" type="text" id="username" th:name="username" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" id="password" th:name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <p>Don't have an account? <a href="/register">Register now!</a></p>

        </div>
    </form>

    <p th:if="${error}" style="color: red" th:text="${error}"></p>
