#reviewDescription {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #343a40;
}
#submit-btn{
    margin-top: 0.3%;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

form {
    max-width: 500px;
    margin: 0 auto;
    /*background-color: #99a9ca;*/
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    padding: 5px;
    font-size: 24px;
    color: #ffc107;
}

.rating label:hover,
.rating label:hover ~ label {
    color: #ffd200;
}

.rating input:checked ~ label,
.rating:not(:checked) label:hover ~ label {
    color: #ffd200;
}


