<!--
<ul th:each="user : ${users}">
    <li>
        <h4 th:text="'ID: ' + ${user.getId()}"></h4>
        <h5 th:text="'Username: ' + ${user.getUsername()}" ></h5>
        <h5 th:text="'Role: ' + ${user.getRole()}"></h5>
        <div>
            <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{'/users/delete/{userId}' (userId=${user.getId()})}" th:method="POST">
                &lt;!&ndash; <button class="btn btn-primary" type="submit">Show Reviews</button> &ndash;&gt;
                <input class="btn btn-danger" type="submit" value="Delete account">
            </form>
        </div>
        <hr>
    </li>
</ul>
-->

<div class="d-flex justify-content-center align-items-center" xmlns:sec="http://www.w3.org/1999/xhtml">
    <ul class="list-unstyled">
        <li th:each="user : ${users}" style="width: 700px;">
            <div class="card bg-light mb-3 w-100" style="width: 700px;">
                <div class="card-header">
                    <h5 th:text="'ID: ' + ${user.getId()}"></h5>
                    <h5 th:text="'Username: ' + ${user.getUsername()}"></h5>
                </div>
                <div class="card-body">
                    <h5 th:text="'Email: ' + ${user.getEmail()}"></h5>
                    <h5 th:text="'Confirmed Email: ' + ${user.isRegistered()}"></h5>
                    <h5 th:text="'Role: ' + ${user.getRole()}"></h5>
                    <div>
                        <form sec:authorize="hasRole('ROLE_ADMIN')"
                              th:action="@{'/users/delete/{userId}' (userId=${user.getId()})}" th:method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete account">
                        </form>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
