<head>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/listReviews.css}"/>
    <title>CultureCanvasMK | Reviews</title>
</head>

<div class="container" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="text-center">
        <h1 th:text="${monument.getNameMk()} "></h1>
        <h2>Reviews</h2>
    </div>
    <ul th:each="review : ${reviews}" th:if="${reviews.size() > 0}" class="list-unstyled d-flex justify-content-center">
        <li id="review-listing">
            <div class="card bg-light mb-3 w-100">
                <div class="card-header">
                    <div th:if="${review.getScore() == 1}">
                        <i class="bi bi-star-fill"></i>
                    </div>

                    <div th:if="${review.getScore() == 2}">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>

                    <div th:if="${review.getScore() == 3}">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>

                    <div th:if="${review.getScore() == 4}">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>

                    <div th:if="${review.getScore() == 5}">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>


                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${review.getDescription()}"></h5>
                </div>
                <div>
                    <form sec:authorize="hasRole('ROLE_ADMIN')"
                          th:action="@{'/review/delete/{monumentId}' (monumentId=${monument.getId()})}"
                          th:method="POST">
                        <!-- <button class="btn btn-primary" type="submit">Show Reviews</button> -->
                        <input class="btn btn-primary" type="submit" value="Delete review">
                        <input type="hidden" th:value="${review.getId()}" name="review_id">
                    </form>
                </div>
            </div>
        </li>
    </ul>

    <div th:if="${reviews.size() == 0}" class="text-center m-auto card bg-light w-50 d-flex justify-content-center">
        <h4 class="m-3">
            No reviews available for this monument
        </h4>
    </div>

</div>


