<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/listReviews.css}"/>
    <title>CultureCanvasMK - Home</title>
    <style>
        i {
            color: #ffcb00;
        }
    </style>
</head>

<body>

<div class="container">
    <div class="text-center">
        <h1 th:text="${monument.getNameMk()} "></h1>
        <h2>Reviews</h2>
    </div>
    <ul th:each="review : ${reviews}" th:if="${reviews.size() > 0}" class="list-unstyled d-flex justify-content-center">
        <li id="review-listing">
            <div class="card bg-light mb-3 w-100">
                <div class="card-header">
                    <div th:if="${review.getScore() == 1}">
                        <i class="bi bi-star-fill"></i>
                    </div>

                    <div th:if="${review.getScore() == 2}">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>

                    <div th:if="${review.getScore() == 3}">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>

                    <div th:if="${review.getScore() == 4}">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>

                    <div th:if="${review.getScore() == 5}">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>


                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${review.getDescription()}"></h5>
                </div>
                <div>
                    <form sec:authorize="hasRole('ROLE_ADMIN')"
                          th:action="@{'/review/delete/{monumentId}' (monumentId=${monument.getId()})}"
                          th:method="POST">
                        <!-- <button class="btn btn-primary" type="submit">Show Reviews</button> -->
                        <input class="btn btn-primary" type="submit" value="Delete review">
                        <input type="hidden" th:value="${review.getId()}" name="review_id">
                    </form>
                </div>
            </div>
        </li>
    </ul>

    <div th:if="${reviews.size() == 0}" class="text-center m-auto card bg-light w-50 d-flex justify-content-center">
        <h4 class="m-3">
            No reviews available for this monument
        </h4>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>