<head>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/monumentDetails.css}"/>
    <title>Culture Canvas | Monument Details</title>
</head>

<div class="container">
    <header class="text-center">
        <h1 th:text="${monument.getNameMk()}"></h1>
    </header>
    <div id="box">
        <h3 th:text="'Name: ' + ${monument.getNameEn()}"></h3>
        <h4 th:text="'City: ' + ${monument.getCity()}"></h4>
        <h5 th:text="'Region: ' + ${monument.getRegion()}"></h5>
        <h5 th:text="'Municipality: ' + ${monument.getMunicipality()}"></h5>
        <h5 th:text="'Suburb: ' + ${monument.getSuburb()}"></h5>
        <h5 th:text="'Address: ' + ${monument.getAddress()}"></h5>
    </div>
</div>


