#map-container {
    text-align: center;
    width: 100%;
    max-width: 100%;
}

#filterPart, #findRoutePart {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 500px;
    margin-bottom: 20px;
}

#filterForm {
    margin-bottom: 0;
}

.leaflet-right {
    right: 0;
}
.leaflet-top {
    top: 0;
}
.leaflet-top, .leaflet-bottom {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
}
.leaflet-routing-container, .leaflet-routing-error {
    width: 180px;
    background-color: white;
    padding-top: 4px;
    transition: all 0.2s ease;
    box-sizing: border-box;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}
.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    box-shadow: none;
}
.leaflet-right .leaflet-control {
    margin-right: 10px;
}
.leaflet-top .leaflet-control {
    margin-top: 10px;
}
.leaflet-right .leaflet-control {
    float: right;
}
.leaflet-routing-container, .leaflet-routing-error {
    width: 320px;
    background-color: white;
    padding-top: 4px;
    transition: all 0.2s ease;
    box-sizing: border-box;
}
.leaflet-bar {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}
.leaflet-popup-pane, .leaflet-control {
    cursor: auto;
}
.leaflet-control {
    float: left;
    clear: both;
}
.leaflet-control {
    position: relative;
    z-index: 800;
    pointer-events: auto;
}
.leaflet-routing-alt, .leaflet-routing-geocoders, .leaflet-routing-error {
    padding: 6px;
    margin-top: 2px;
    margin-bottom: 6px;
    border-bottom: 1px solid #ccc;
    max-height: 320px;
    overflow-y: auto;
    transition: all 0.2s ease;
}
.leaflet-bar .leaflet-routing-alt:last-child {
    border-bottom: none;
}

.leaflet-routing-alt-minimized {
    color: #888;
    max-height: 64px;
    overflow: hidden;
    cursor: pointer;
}
.leaflet-routing-alt, .leaflet-routing-geocoders, .leaflet-routing-error {
    padding: 6px;
    margin-top: 2px;
    margin-bottom: 6px;
    border-bottom: 1px solid #ccc;
    max-height: 320px;
    overflow-y: auto;
    transition: all 0.2s ease;
}
.leaflet-routing-alt {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: left;
}
.leaflet-routing-container h2, .leaflet-routing-container h3 {
    font-size: 14px;
    font-weight: bold;
}
table tr:hover{
    background-color: lightgray;
    cursor: pointer;
}

